@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700|Anton|Hind:400|Raleway:700,300|Montserrat:700|Quicksand:700);
*,
*:before,
*:after {
    box-sizing: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

.hidden {
    position: absolute;
    left: -10000px;
}


a,
a:active,
a:visited {
    text-decoration: none;
    color: #f9f6ea;
}

a:hover {
    color: #79cae7;
    /*******new*******/
}

.page-wrapper {
    width: 100%;
    margin: 0 auto;
}

.main-wrapper {
    max-width: 84%;
    /*    1024/(1024 - 80 - 80)*/
    margin: 0 auto;
    /*******new*******/
    padding-top: 6.875rem;
    /*******new*******/
}

.footer-wrapper {
    max-width: 84%;
    /*1024/(1024 - 80 - 80)*/
    margin: 0 auto;
}

nav,
h1,
h2 {
    font-family: 'Oswald', sans-serif;
}



/*-----------------HEADER-----------------*/

header {
    height: 700px;
    background-image: url(../images/banner_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#logo {
    position: absolute;
    width: 11.68rem;
    /*187/16*/
    height: auto;
    margin-left: 80px;
    margin-top: 3.75rem;
    /*60/16*/
    display: inline;
}


/*-----------------CLOCK-----------------*/


/*******new*******/

#clock {
    margin: 0;
    display: block;
    width: 150px;
    text-align: center;
    padding-bottom: 50px;
    position: absolute;
    left: 90px;
    top: 30rem;
    color: #f9f6ea;
    /*60/16*/
}

#clock .text {
    display: inlin-block;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: .8em;
    /*20/16*/
    letter-spacing: 0.1em;
}

.line {
    clear: both;
    display: block;
    border-top: 1px solid #f9f6ea;
    margin: 15px auto;
    width: 150px;
}

#clock .time {
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    /*48/16*/
    letter-spacing: .2em;
}


/*-----------------NAV-----------------*/

nav {
    width: 100%;
    /*    background-color: rgba(0, 0, 0, .45);*/
    height: 12.5rem;
    /*200/16*/
    padding: 5.625rem 0 0 0;
    /*90/16*/
    font-size: 1.25em;
    /*20/16*/
    font-family: 'Oswald', sans-serif;
}

#desk-nav a {
    color: #FFF;
}

#desk-nav a:hover {
    text-decoration: none;
    color: #e32925;
}


nav::after {
    content: "";
    display: block;
    clear: both;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}


nav ul li a {
    display: inline-block;
    padding: 5px 5px 5px 0;
    width: 110px;
    margin: 0;
    position: relative;
    padding-bottom: 20px;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    border-top: 2px solid #FFF;
    padding-top: 10px;
    width: 5.625rem;
    /*90/16*/
}

/*  first level nav  */
nav > ul {
    float: right;
}

nav > ul > li {
    float: left;
}
.sm-nav {
    clear: both;
    height: 600px;
}

.sm-nav nav{
    width: 100%;
    background-color: #000;
    height: 800px;
    border: 0;
    margin: 0;
    position: relative;
    top: -150px;
}

.sm-nav nav ul{
    text-align: center;
    float: none;


}

.sm-nav nav ul li{
    display: block;
    float: none;

}

.sm-nav nav ul li a{
    float: none;
    width: 100%;
    color: #f9f6ea;
}

.sm-nav nav a:hover {
    color: #e22a26;
    text-decoration: none;
}
#toggle {
    border: 1px;
    border-radius: 2px;
    border-color: #fff;
    background-color: #000;
    width: 3em;
    height: auto;
    color: #FFF;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 20px;

}

#toggle img {
    width: 2em;
}

@media (min-width: 52em) {
    .main-nav {
        max-width: 100%;
    }
    .sm-nav {
        display: none;
    }
}


@media (max-width: 52em) {

    .main-nav {
        display: none;
    }
    .sm-nav-list{
        display: none;
    }

    header {
        text-align: center;
        padding-top: 40px;
    }
    #logo {
        position: static;
        padding: 0;
        margin:0;
    }

    #clock {
        position: static;
        padding: 0;
        margin: 100px auto 0 auto;
    }
}


@media (min-width: 52em) {
    .main-nav ul li ul li {
        display: inline-block;
        border-top: none;
    }
}


/*-----------------MAIN-----------------*/
.circle {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 650px;
}
.tomato {
    height: 3.75rem;
    /*60/16*/
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
}

main {
    background-color: #f9f6ea;
    position: relative;
    color: #e42926;
    padding-bottom: 30px;
    /*******new*******/
}


.main-top {
    padding-top: 70px;
}
.main-left-title {

    font-family: "Anton", sans-serif;
    font-size: 2.3em;
    text-align: center;
}

.main-left-text {

    font-family: "Hind", sans-serif;
    font-size: 1.2em;
    margin-top: 20px;
}


/*-----------------MAIN RIGHT-----------------*/

@media (min-width: 990px) {
    .main-right-text {
        position: relative;
        top: -30px;
    }

    .round {
        height: 190px;
        border: 3px solid #6196ad;
        width: 110px;
        border-radius: 64px 64px 64px 64px;
        text-align: center;
        padding: 50px 0 0 0;
        letter-spacing: .1em;

    }

    .round p:first-of-type {
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        font-size: .8em;
        /*13/16*/
    }

    .round p:nth-of-type(2) {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 1.3em;
        /*24/16*/
        /*13/16*/
    }

    .cocktail {
        padding-top: .5rem;
        /*20/16*/
    }

    .cocktail #cup {
        width: 40px;
    }

    .cocktail #stir {

        width: 18px;
        height: auto;
    }


}


/*-----------------MAIN RIGHT MOBILE-----------------*/

@media (max-width: 990px) {

    .main-left-title {
        margin-bottom: 40px;
    }

    .main-left-text {
        text-align: center;
    }

    .main-top {
        text-align: center;
    }

    .main-right-text {
        text-align: center;
        padding: 0;
    }

    .round {
        height: 80px;
        border: 3px solid #6196ad;
        width: 300px;
        border-radius: 64px 64px 64px 64px;
        letter-spacing: .1em;
        padding-top: 15px;
        margin: 50px auto;

    }

    .round p:first-of-type {
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        font-size: .8em;
        position: relative;
        right: 10%;
        /*13/16*/
    }

    .round p:nth-of-type(2) {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 1.3em;
        position: relative;
        right: 10%;
        bottom: 5px;
        /*24/16*/
        /*13/16*/
    }

    .cocktail {
        padding-top: .5rem;
        position: relative;
        bottom: 65px;
        left: 50px;
        /*20/16*/
    }

    .cocktail #cup {
        width: 40px;
    }

    .cocktail #stir {

        width: 18px;
        height: auto;
    }

}


/*-----------------MAIN BOTTOM-----------------*/

.main-bottom {

    text-align: center;
}

.bottom-column {
    height: 490px;
    border: 2px solid #6196ad;
    background-image: url(images/mesh_border.svg), url(images/mesh_border.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    width: 90%;
    margin: 0;
}

.bottom-column:last-child {
    margin-right: 0;
}

.bottom-column h2 {
    margin-top: 65px;
    letter-spacing: .2em;
    font-weight: 300;
    font-size: 1em;
    font-family: "Quicksand";
}

.bottom-column a {
    color: #e42926;
}

.bottom-column ul {
    list-style: none;
}

.bottom-column li {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
}

#olive {
    margin-bottom: 50px;
}

#plate {
    margin-top: 45px;
}

#visit-txt {
    font-family: "Quicksand", san-serif;
    font-size: 1.875rem;
    /*30/16*/
    margin: 55px auto;
}

#special-txt {
    font-family: "Quicksand", san-serif;
    font-size: 1.875rem;
    /*30/16*/
    margin: 30px auto;
}


/**-------  MAIN BOTTOM MOBILE-------**/
@media (max-width: 768px) {

    .main-bottom {
        padding: 0 5%;
    }
    .bottom-column {
        width: 100%;
        margin: 30px auto;
    }

}

/*-----------------FOOTER-----------------*/

footer {
    background-color: #e32925;
    color: #f9f6ea;
    padding: 30px 0;
}

footer a {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #f9f6ea;
}


footer a:hover {
    text-decoration: none;
}

.footer-info ul {
    list-style: none;
    /*   display: inline;*/
    margin-left: 40px;
}

.footer-info li {
    display: inline;
    padding-right: 20px;
}

/*#socmedia ul{
    float: right;
    display: inline-block;
}
*/
#socmedia ul {
    list-style: none;
}

#socmedia li {
    display: inline;
    padding-left: 20px;
}
/*
footer::after {
    content: "";
    display: block;
    clear: both;
}*/

/**-------  FOOTER MOBILE-------**/
@media (max-width: 768px) {

    .footer-wrapper {
        text-align: center;
        width: 100%;
    }
    .footer-info {
        margin: 0;
    }
    .footer-info ul{

        width: 100%;
    }
    #socmedia ul{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

}